.nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 30px;
    /* as header so zindex 1 */
    z-index: 1;

    transition-timing-function: ease-in;
    /* add a transisiotn to everything you do (width change, height change etc.. */
    transition: all 0.5s;
}

.nav__black{
    background-color: black;
}

.nav__logo{
    position: fixed;
    left: 20;
    width: 80px;
    object-fit: contain;
}

.nav__avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}